body {
    box-sizing: border-box;
    /* background: #03c9a9; */
    color: #130c0e;
    font-family: Lato, sans-serif;
}
.container {
    border-radius: 3px;
    padding: 20px 20px 60px 20px;
    display: block;
    background: #fff;
    width: 600px;
    margin: 40px auto 0;
}

.value {
    color: #840228;
}